.follower_bord{
    border-radius: 25px;
    margin-top: 20px;
    margin: 10px;
    box-shadow:
       inset 0 -3em 3em rgb(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(193,41,41,0.3);
    display: grid;
    grid-area:
    "title"
    "list";
    margin: auto;
    height:auto ;
    width: 75vh;
    display:grid;
    background-color: transparent;


}
.follower_title{
    grid-area: "title";
    margin: 10px;
    text-decoration: none;


}
.follower_list{
    grid-area: "list";
    display: flex;
    height: auto;
    padding : 10px;

}

.follower_link{
    margin:5px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.2em 1.5em rgb(193, 41, 41);
    text-decoration: none;
    width: auto;
    height: 3vw;
    border-radius: 50%;
}
.follower_link .follower_img {
    border-radius: 50% ;
    width: auto;
    height: 3vw;

}
.follower_name {

    /* background-color: red; */
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 30px;
    position:relative;
    bottom: 65px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 0px 0px 9px;
}
