/* .card_table {
  background: #eee;
  font-family: 'Lily Script One';
} */
.card_table{
    width: 1600px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;


}
.fighter_card_container{
    margin: auto;
    margin-top: 20px;
    height:400px ;
    width: 300px;
    display:grid;
    background-color: transparent;
    perspective: 1000px;
    overflow: hidden;
}
.fighter_card_container {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    /* margin: -150px; */
    float: left;
    perspective: 500px;
    box-shadow: 0.3em 0.3em 1em rgba(193,41,41,0.3);

}

.fighter_card_inner {
  /* position: absolute; */
  width: 100%;
  height: 100%;
    border:1px solid rgba(193,41,41,0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.fighter_card_container:hover .fighter_card_inner {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.fighter_card_front,
.fighter_card_back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 25px;
  font-size: 12px;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  backface-visibility: hidden;


}
.fighter_card_front {
    display:grid;
    grid-template-areas:
        'top'
        'bottom'
    ;
}
.fighter_card_back {
  background: rgba(255, 0, 0, 0.03);
  color: rgb(202, 202, 202);
  transform: rotateY( 180deg );
  box-shadow:
       inset 0 -3em 3em rgb(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(193,41,41,0.3);

}
.lazy_words{
    text-shadow: 1px 0 10px rgba(255, 10, 10, 0.171);
    color:black;
}
p{
    margin:0;
}
.fighter_card_front_name{
    margin:0px;
    font-size:25px;

    word-wrap:break-word;
}
.fighter_card_back_name{
    line-height: 30px;
    margin:10px;
    font-size:25px;
    text-shadow: 1px 0 10px black;
    word-wrap:break-word;
}
.fighter_card_front_top{
    display:grid;
    grid-area:top;
    overflow:hidden;
}
.fighter_card_front_bottom{
    display:grid;
    grid-area: bottom;
    height: 150px;
    

}

.fighter_card_front_img{
    border-bottom: 5px solid black;
    object-fit:contain;
    overflow: hidden;
    bottom:0;
    position:relative;
    align-content: center;
    justify-content: center;
    height: auto;
    width:300px;
}

/*


.fighter_card_inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: grid;
    grid-template-areas:
    "top "
    "bottom";
}
.fighter_card_container:hover  .fighter_card_inner {
    transform: rotateY(180deg);
}
.fighter_card_front, .fighter_card_back{
    position: absolute;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.fighter_card_front{
    height:400px;
}
.fighter_card_front_top{
    background-color: white;
    position: relative;
    display: grid;
    grid-area: top;
    height: 200px;
    width: 300px;
}
.fighter_card_front_bottom{
    position: absolute;
    background-color: white;
    display: grid;
    grid-area: bottom;
    height: 200px;
    width: 300px;
}

.fighter_card_front_info{

}
.fighter_card_name{
    height: 200px;
    width: 280px;
    margin-left:10px;
    margin-right:10px;
    position: absolute;
    font-size:25px;
}
.fighter_card_back{
    transform: rotate(180deg);
}
*/
