.comments_bord{

    border-left:1px solid rgb(253, 255, 252);
    padding:8px;
    width: 50vw;
    box-shadow:
       inset 0 -3em 6em rgb(49, 8, 8),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(193,41,41,0.3);


}
.comment_thread{

    color:grey;
    border-left:1px solid grey;
    padding: 20px;
    display: grid;
    grid-template-areas:
    "outer_comment"
    "inner_comment";
}
.comment_box{

    grid-area: outer_comment;
    justify-items: stretch;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    display:grid;
    background-color: rgba(253, 255, 252, 0.13);
    grid-template-areas:
    "name colon comment comment comment comment comment comment btn"
    "inner inner inner inner  inner inner inner inner inner";
    margin:1vw;
    padding: 20px;
    border-radius: 15px;
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(193,41,41,0.3);

    /* box-shadow:
       inset 0 -3em 3em rgba(193, 41, 46, 0.3),
             0 0  0 2px rgba(193, 41, 46, 0.3),
             0.3em 0.3em 1em rgba(193, 41, 46, 0.3); */
}
.btn_box{
    align-self:right;
    font-size: 30px;
    width: 60px;
    display:flex;
    float:right;
    grid-area: btn;
}
.inner_comment{
    border-left:1px solid grey;
    display:flex;
    margin-left:30px;
    grid-area: inner_comment;
    flex-direction: column;
}
.colon{
    grid-area: colon;
    font-size: 40px;
    width:12px;
    height:65px;
}
.comment_comment{
    width: fit-content;
    max-width: 100%;
    color:rgb(165, 165, 165);

    grid-area: comment;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    min-height: 60px;
    height: auto;
    word-break: break-all;
}
.btn_box{
    justify-content: right;
    align-content:right;
    padding:0px;
    margin:0px;
    width:100px
}
.show_btn{
    width:100%;
    font-size: auto;
}
.show_btn, .btn_box:hover .show_menu{
    padding:10px;
    display:flex;

}
.show_menu, .btn_box:hover .show_btn{
    display:none;
    background-color: cornflowerblue;
}

.user_pic{
    height: 60px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.pic_on, .user_link:hover .pic_off{
    display: none;

}
.pic_off, .user_link:hover .pic_on{
    color:black;
    /* display: block; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: comment;
    font-size: 25px;
    height:55px;
    padding-left:10px;
}
.user_link{
    text-decoration: none;
    margin:0%;
    padding:0%;
    width:5vw;
    grid-area: name;
}
.add_comment{
/*
    justify-items: stretch; */
    width: stretch;
    max-width: 100%;
    color:rgb(165, 165, 165);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    min-height: 60px;
    height: auto;
    word-break: break-all;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    display:grid;
    background-color: rgba(253, 255, 252, 0.13);

    border-radius: 15px;
    height:auto;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(193,41,41,0.3);



}
