/* .new_comment_box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: comment;
    font-size: 25px;
    margin-left: 25px;
    height: 60px

} */
.new_comment_box{
    grid-area: outer_comment;
    justify-items: stretch;
    display:grid;
    grid-template-areas:
    "name colon comment comment comment comment comment btn1 btn2";
    margin:1vw;
}
.btn{
    width:100%;
    border: none;
    /* background-color: white; */


}
.btn1{
    background-color: transparent;
    grid-area: btn1;
    height:40px;
    width:40px;
    align-content: center;
    justify-content: center;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;

}
.btn2{
    grid-area: btn2;
    height:40px;
    width:40px;
    align-content: center;
    justify-content: center;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: auto;
    margin-top:auto;

}
.input_comment:hover{
    border-bottom: 1px solid black;

}
.input_comment{

    /* width: fit-content; */
    border: none;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    grid-area: comment;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    /* margin-left: 25px; */
    height: 65px;
    word-break: break-all;
}
